body {
  font-family: "Lato", sans-serif;
}

h1 {
  color: #878787;
  display: block;
  font-size: 24px;
  font-weight: 100;
  line-height: 28px;
  margin-bottom: 0;
}
ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
  color: rgb(135, 135, 135);
  text-transform: capitalize;
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

a {
  text-decoration: none;
}

.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}

.weather-app {
  padding: 20px;
  border: 1px solid #dadde1;
  border-radius: 5px;
}

.overview {
  margin-bottom: 20px;
}

.weather-temperature img {
  margin-bottom: 10px;
  height: 74px;
  width: 74px;
}

.weather-temperature strong {
  color: rgb(33, 33, 33);
  font-size: 54px;
  font-weight: 400;
}

.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -10px;
  left: 7px;
}

.weather-temperature .active {
  color: rgb(33, 33, 33);
  cursor: default;
}
.weather-temperature .active:hover {
  text-decoration: none;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
  color: #000;
}

.weather-forecast-date {
  font-size: 16px;
  opacity: 0.5;
}

.weather-forecast-temperatures {
  font-size: 13px;
}

.weather-forecast-temperatures-min {
  opacity: 0.5;
}
.weather-forecast-temperature-max {
  color: #ec6e4b;
}

#city {
  font-weight: bold;
  color: black;
}

.btn {
  background-color: #ec6e4b;
  border-color: #ec6e4b;
}

.btn:hover {
  background-color: white;
  color: #ec6e4b;
  border-color: #ec6e4b;
}

#source-link {
  color: #ec6e4b;
}

.weather-details {
  text-align: right;
}
